@import "styles.css";

.main-content {
    padding-left: 85px;
}

.main-content__group-heading {
    font-size: 72px;
    margin-bottom: 30px;
}

.group-details__rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 15px solid rgba(89, 35, 205, 0.1);
    transform: rotate(-45deg);
    margin-left: 30px;
    margin-top: 20px;
}

.group-details__rectangle-block {
    height: 140px;
}

.group-details__group-info {
    margin-left: 50px;
}

.group-details__username-block {
    display: flex;
}

.group-details__username {
    display: block;
    margin: 0 0 7px 0;
    font-weight: 700;
    font-size: 36px;
    color: #3A3A3A;
}

.group-details__username span {
    font-size: 36px;
    color: #C7C7C7;
    margin-left: 10px;
}

.group-details__level-rectangle-small {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 7px solid rgba(89, 35, 205, 0.1);
    transform: rotate(-45deg);
    margin-left: 20px;
    cursor: pointer;
}

.group-details__extra {
    display: flex;
    flex-wrap: wrap;
}

.group-details__participants, .group-details__data-created, .group-details__participants span, .group-details__data-created span {
    color: #3A3A3A;
    font-weight: 700;
    font-size: 24px;
}

.group-details__participants span, .group-details__data-created span {
    color: #C7C7C7;
    margin-left: 10px;
}

.group-details__participants {
    margin-right: 33px;
}

.group-details__buttons-block {
    display: flex;
    margin-top: 28px;
}

.group-details__group-info .my-button:nth-of-type(1) {
    margin-right: 20px;
}

.group-details__social-heading {
    margin: 0 0 10px 0;
    font-size: 36px;
}

.group-details__social-flex-block {
    display: flex;
}

.group-detail__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #C9B2FF;
    margin-right: 16px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}

.group-detail__social:hover {
    background: #6728EC;
}

.main-content__challenges-heading-block {
    margin-top: 53px;
    display: flex;
}

.main-content__challenges-heading {
    margin: 0 0 20px 0;
    font-size: 64px;
    display: block;
}

.main-content__plus-block {
    margin-left: 28px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #EEE9FA;
    font-size: 48px;
    color: #858585;
}

.main-content__plus-block:hover {
    background: #E3D8FF;
}

.challenge {
    margin-left: 0;
    margin-bottom: 20px;
    width: 90%;
    height: 117px;
    background-color: white;
    box-shadow: 0px 4px 20px 5px rgba(103, 40, 236, 0.06);
}

.challenge__challenge-block {
    padding-left: 15px;
}

.challenge__label {
    font-size: 18px;
    color: #C7C7C7;
}

.challenge__name, .challenge__participants, .challenge__time-left {
    display: block;
    position: relative;
    margin: 7px 0 0 0;
    font-size: 24px;
    font-weight: 700;
    transition: all .2s ease-out;
    cursor: pointer;
}

.challenge__name:hover {
    transform: translate(0, -5px);
}

.challenge__name:after {
    content: "";
    position: absolute;
    height: 5px;
    background-color: rgba(89, 35, 205, 0.1);
    width: 100%;
    left: 0;
    bottom: 0px;
}

.challenge__xp-block {
    display: flex;
}

.challenge__xp-label {
    font-size: 36px;
    font-weight: 700;
}

.challenge__xp-bar-group {
    margin-left: 18px;
}

.challenge__xp-bar-group span {
    color: #999999;
    font-size: 14px;
}

@media screen and (max-width: 991px) {
    .group-details__social-block {
        margin-top: 20px;
    }
    .challenge__result-group {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .main-content__group-heading {
        font-size: 56px;
        margin-bottom: 15px;
    }
    .group-details__rectangle-block {
        display: none;
    }
    .group-details__group-info {
        margin-left: 0;
    }
    .roup-details__social-flex-block {
        margin-top: 40px;
    }
    .main-content__challenges-heading {
        font-size: 48px;
    }
    .main-content__plus-block {
        width: 55px;
        height: 55px;
        font-size: 36px;
    }
    .my-button {
        width: 160px;
        height: 50px;
        font-size: 16px;
    }
    .challenge__group-group {
        display: none;
    }
    .challenge__xp-label {
        font-size: 28px;
    }
}

@media screen and (max-width: 650px) {
    .main-content {
        padding-left: 60px;
    }
}

@media screen and (max-width: 575px) {
    .main-content__group-heading {
        font-size: 48px;
        margin-bottom: 10px;
    }
    .group-details__username, .group-details__username span  {
        font-size: 28px;
    }
    .group-details__participants, .group-details__data-created, .group-details__participants span, .group-details__data-created span {
        font-size: 20px;
    }
    .my-button {
        width: 140px;
        height: 43px;
        font-size: 15px;
    }
    .group-details__social-heading {
        font-size: 30px;
    }
    .main-content__challenges-heading {
        font-size: 36px;
    }
    .main-content__plus-block {
        width: 40px;
        height: 40px;
        font-size: 26px;
        margin-left: 20px;
    }
    .challenge__name {
        font-size: 20px;
    }
    .challenge__name:hover {
        transform: translate(0, -3px);
    }
    .challenge__xp-label {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .main-content {
        padding-left: 40px;
    }
}