@using(Html.BeginForm("New", "Challenges", FormMethod.Post))
{
    <table>
        <p>Name: <input name="Name" /></p>
        <p>Description: <input name="Desc"/></p>
        <p>Count: <input name="Count" type="number" /></p>
        <input type="submit" value="Send" />
    </table>
}