@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
}

<div class="right-polygon"></div>
<div class="main-content flex flex-column justify-content-around">
    <div class="main-content__main-block">
        <partial name="_LoginPartial" />
    </div>
    <div class="main__content__bottom-btn-block">
        <img class="main-content__down-arrow" src="~/img/down-arrow.png" alt="Down arrow">
        <a class="main-content__top-challenges-btn" href="#">Смотреть топ челленджей</a>
    </div>
</div>